body {
  /* background-image: url("BG.jpg"); */
  background-color: #242f3f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  
  font-family: Arial, sans-serif;
}
.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader{
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner{
vertical-align: top;
display: inline-block;
width: 100%;
background-color: #fff;
animation: loader-inner 2s infinite ease-in;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
}

h2 {
  font-size: 2rem;
  color: #5a5959;
  margin-top: 0;
  margin-bottom: 1rem;
}

#results > div {
  padding: 1rem;
  height: auto; /* Auto height */
  width: auto; /* Auto width */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009178; /* Same background color */
  color: #000;
  font-size: 1.5rem;
  font-weight: bold; /* Use font-weight for bold text */
  border: 2px solid #009178; /* Improved border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
  margin: 0.5rem; /* Add margin for spacing */
  text-align: center; /* Center align text */
  overflow: auto; /* Hide overflow text */
  word-wrap: break-word; /* Wrap long words */
}

#results {
  position: absolute;
  bottom: 0;
  display: flex;           /* Enable flexbox layout */
  flex-direction: row;     /* Align items in a row */
  flex-wrap: wrap;   
}


#webcam
{
  height: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(-1,1);
  
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009178; /* Same background color */
  color: #000;
  font-size: 1.5rem;
  font-weight: bold; /* Use font-weight for bold text */
  border: 2px solid #009178; /* Improved border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
  margin: 0.5rem; /* Add margin for spacing */
  text-align: center; /* Center align text */
  overflow: auto; /* Hide overflow text */
  word-wrap: break-word; /* Wrap long words */
}

#output_canvas
{
  position: absolute;
  object-fit: cover;
  transform: scale(-1,1);
}

@keyframes loader{
  0% {transform: rotate(0deg);}
  25% {transform: rotate(180deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}
}

@keyframes loader-inner{
  0% {height: 100%;}
  25% {height: 100%;}
  50% {height: 0%;}
  75% {height: 0%;}
  100% {height: 100%;}
}